<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Project</title>
</head>
<body>
	<h1>Add Project</h1>
	
	<form action="project" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>Description:</td>
				<td><input type="text" name="description"></td>
			</tr>
			<tr>
				<td>Start Date:</td>
				<td><input type="date" name="startDate"></td>
			</tr>
			<tr>
				<td>End Date:</td>
				<td><input type="date" name="endDate"></td>
			</tr>
			<tr>
				<td>Project Logo:</td>
				<td><input type="file" name="logo"></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="Submit" /></td>
			</tr>
		</table>	
	</form>
	
	<a href="dashboard">Back to Dashboard</a>
</body>
</html>