<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="exam" class="com.metacube.training.Exam" >
	<property name="averageMarksOfSubjects">
		<map>
			<entry key="Physics" value="75.5" />
			<entry key="Chemistry" value="80" />
			<entry key="Mathematics" value="78" />
			<entry key="English" value="69.5" />
			<entry key="Computer Science" value="81" />
		</map>
	</property>
	</bean>

</beans>