<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/controller/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>controller.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/controller/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/controller/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>controller.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/controller/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowFriends</servlet-name>
    <servlet-class>controller.ShowFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowFriends</servlet-name>
    <url-pattern>/controller/ShowFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FriendProfile</servlet-name>
    <servlet-class>controller.FriendProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendProfile</servlet-name>
    <url-pattern>/controller/FriendProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>controller.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/controller/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/controller/Login</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>ValidateLogin</filter-name>
    <filter-class>filters.ValidateLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ValidateLogin</filter-name>
    <url-pattern>/controller/Profile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateLogin</filter-name>
    <url-pattern>/controller/ShowFriends</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ValidateLogin</filter-name>
    <url-pattern>/controller/FriendProfile</url-pattern>
  </filter-mapping>
    <filter-mapping>
    <filter-name>ValidateLogin</filter-name>
    <url-pattern>/controller/UpdateUser</url-pattern>
  </filter-mapping>
</web-app>