.parent {
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}

.child {
    width: 50%;
    height: 50%;
}

.one {
    background-color: skyblue;
    animation: animate1 2s infinite;
}

.two {
    background-color: sandybrown;
    animation: animate2 2s infinite;
}

.three {
    background-color: hotpink;
    animation: animate3 2s infinite;
}

.four {
    background-color: mediumpurple;
    animation: animate4 2s infinite;
}

@keyframes animate1 {
    25% {
        transform: translate(0px, 100px);
    }
    50% {
        transform: translate(100px, 100px);
    }
    75% {
        transform: translate(100px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes animate2 {
    25% {
        transform: translate(-100px, 0px);
    }
    50% {
        transform: translate(-100px, 100px);
    }
    75% {
        transform: translate(0px, 100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes animate3 {
    25% {
        transform: translate(100px, 0px);
    }
    50% {
        transform: translate(100px, -100px);
    }
    75% {
        transform: translate(0px, -100px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes animate4 {
    25% {
        transform: translate(0px, -100px);
    }
    50% {
        transform: translate(-100px, -100px);
    }
    75% {
        transform: translate(-100px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}